<form class="form" id="generate_wallet_form">
    <h4 class="title has-text-centered">{{title}}</h4>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Name" name="name" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Username" name="username" required>
            <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email input" name="email_id" required>
            <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
        </div>
    </div>
    <div class="field">
        <div class="is-flex" style="justify-content: center">
            <button class="button is-primary control" id="generate_wallet">Generate Wallet</button>
        </div>
    </div>
</form>