{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 16px">
    <div class="card-content">
        <form class="form" id="send_message_form">
            <h4 class="title has-text-centered">Send Message</h4>
            <div class="field">
                <label class="label">Your username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Username" name="sender" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Private Key</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Private Key" name="private_key" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control ">
                            <textarea class="textarea is-medium" placeholder="Message" name="message"
                                      required></textarea>
                </div>
            </div>

            <div class="field">
                <div class="is-flex" style="justify-content: center">
                    <button class="button is-primary control" id="send_message">Send Message</button>
                </div>
            </div>
        </form>
        <div class="modal" id="confirm_transaction_modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <section class="modal-card-body">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Successful Transaction!</p>
                        </div>
                        <div class="message-body">
                            <p>You successfully completed your transaction. It will be added to the next
                                block.</p>
                        </div>
                    </article>
                    <form class="form" id="confirmation_transaction_form">
                        <div class="field">
                            <label class="label">Transaction Signature</label>
                            <div class="control">
                                <input type="text" name="signature" id="confirm_signature" class="input"
                                       readonly>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot" style="background-color: white">
                    <button class="button is-success" id="button_confirm_transaction">Ok</button>
                </footer>
            </div>
            <button class="modal-close is-large button_cancel_transaction" aria-label="close"></button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/sendmessage.js" type="text/javascript"></script>
{% endblock %}
